@font-face {
  font-family: 'Fregat';
  src: url('/fonts/fregat/Fregat_Mon.ttf') format('truetype');
}
@font-face {
  font-family: 'Fregat';
  src: url('/fonts/fregat/Fregat_Bold_Mon.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Fregat';
  src: url('/fonts/fregat/Fregat_Bold_Italic_Mon_0.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Fregat';
  src: url('/fonts/fregat/Fregat_Italic_Mon.ttf') format('truetype');
  font-style: italic;
}
